<!DOCTYPE html>
<%- include('partials/header', { title: 'Home Page' }) %>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Admin Panel</title>
</head>
<body>
    <div class="container">
        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center mt-4">
            <h1>Admin Panel</h1>
            <a href="/logout" class="btn btn-outline-dark">Logout</a>
        </div>

        <!-- Search Bar -->
        <div class="mt-4 mb-4">
            <input type="text" id="searchInput" placeholder="Search by name, zipcode or polling station" class="form-control">
        </div>

        <!-- Tabs for User Management -->
        <ul class="nav nav-tabs" id="userTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pendingUsers" role="tab" aria-controls="pendingUsers" aria-selected="true">Pending Approval</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="all-tab" data-toggle="tab" href="#allUsers" role="tab" aria-controls="allUsers" aria-selected="false">All Users</a>
            </li>
        </ul>

        <div class="tab-content" id="userTabContent">
            <% if (users.length === 0) { %>
                <p>No new user requests</p>
            <% } else { %>
            <!-- Pending Users -->
                <div class="tab-pane fade show active" id="pendingUsers" role="tabpanel" aria-labelledby="pending-tab">
                    <!-- Pending Users Table -->
                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Voter ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">Address</th>
                                <th scope="col">Documentation</th>
                                <th scope="col">Zip</th>
                                <th scope="col">Role</th>
                                <th scope="col">Actions</th>
                            </tr>                    
                        </thead>
                        <tbody>
                            <% users.forEach(user => { %>
                                <% if(user.status === 'PEN') { %>      
                                    <tr>
                                        <td><%= user.voter_id %></td>
                                        <td><%= user.first_name %></td>
                                        <td><%= user.last_name %></td>
                                        <td><%= user.age %></td>
                                        <td><%= user.email %></td>
                                        <td><%= user.address %></td>
                                        <td><%= user.passport ? user.passport : user.driving %></td> 
                                        <td><%= user.zip %></td>
                                        <td><%= user.role %></td>
                                        <td>
                                            <button class="btn btn-success approve-btn" data-voter-id="<%= user.voter_id %>" data-name="<%= user.name %>">Approve</button>
                                            <button class="btn btn-danger deny-btn" data-voter-id="<%= user.voter_id %>" data-name="<%= user.name %>">Deny</button>
                                        </td>                       
                                    </tr>
                                <% } %>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            <% } %>

            <!-- All Users -->
            <div class="tab-pane fade" id="allUsers" role="tabpanel" aria-labelledby="all-tab">
                <!-- All Users Table -->
                <table class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Voter ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Address</th>
                            <th scope="col">Documentation</th>
                            <th scope="col">Zip</th>
                            <th scope="col">Role</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                            <% if(user.status === 'APR') { %>                        
                                <tr>
                                    <td><%= user.voter_id %></td>
                                    <td><%= user.first_name %></td>
                                    <td><%= user.last_name %></td>
                                    <td><%= user.age %></td>
                                    <td><%= user.email %></td>
                                    <td><%= user.address %></td>
                                    <td><%= user.passport ? user.passport : user.driving %></td> 
                                    <td><%= user.zip %></td>
                                    <td><%= user.role %></td>
                                    <td>
                                        <button class="btn btn-primary edit-btn" onclick="editUser('<%= user.voter_id %>')">Edit</button>
                                        <button class="btn btn-danger delete-btn" data-voter-id="<%= user.voter_id %>">Delete</button>                                    </td>
                                </tr>
                            <% } %>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- Inline Script for Interactivity -->
<script>
    $(document).ready(function() {
        $('.approve-btn').click(function() {
            const voterId = $(this).data('voter-id');
            const userName = $(this).data('name');

            $.ajax({
                url: '/approveUser',
                type: 'POST',
                data: { voterId: voterId, userName: userName },
                success: function() {
                // Remove the user's row from the table
                $(`button[data-voter-id="${voterId}"]`).parent().parent().remove();

                }
            });

    
        });

        $('.deny-btn').click(function() {
            const voterId = $(this).data('voter-id');
            const userName = $(this).data('name');

            $.ajax({
                url: '/denyUser',
                type: 'POST',
                data: { voterId: voterId, userName: userName },
                success: function() {
                    // Remove the user's row from the table
                    $(`button[data-voter-id="${voterId}"]`).parent().parent().remove();
                }
            });
        });

    });

    document.addEventListener("DOMContentLoaded", function() {
        const deleteButtons = document.querySelectorAll('.delete-btn');
        
        deleteButtons.forEach(button => {
            button.addEventListener('click', function() {
            const voterId = this.getAttribute('data-voter-id');
            if (confirm('Are you sure you want to delete this user?')) {
                fetch(`/deleteUser/${voterId}`, {
                method: 'DELETE',
                })
                .then(response => response.text())
                .then(data => {
                alert(data); // Alert the result
                location.reload(); // Reload the page
                })
                .catch(err => alert('Error deleting user'));
            }
            });
        });
    });

    function editUser(voterId) {
        window.location.href = `/editUserInfo/${voterId}`;
    }

</script>

<script>
    $(document).ready(function() {
        $('#searchInput').on('keyup', function() {
            var value = $(this).val().toLowerCase();
            $('table tbody tr').filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        // Other code...
    });
</script>
</body>
</html>

